@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-symbols';

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

:root {
  --background-color: #fbfbfa;
  --neutral: black;
  --neutral-dim: #120f25;

  --primary: #003566;
  --primary-hover: #141135;
  --primary-dim: #1f15757e;
  --on-primary: white;
  --primary-container: #03001C;
  --on-primary-container: white;
  --header-container: #03001c;
  --on-header-container: #FFFFFF;

  --secondary: #FF9900;
  --secondary-hover: #d37f00;

  --surface: white;
  --surface-dim: rgba(148, 148, 148, 0.2);

  --shadow: rgba(3, 2, 53, 0.1);
  --shadow-dim: rgba(31, 0, 168, 0.1);
  --light: #1f1575;

  --error: #ff3737;
  --on-error: white;
  --error-container: #f00606;
  --on-error-container: white;

  --notavailable: grey;
  --on-notavailable: black;
  --notavailable-container: white;
  --on-notavailable-container: grey;

  --valid: green;
  --on-valid: white;
  --valid-container: rgb(0, 80, 0);
  --on-valid-container: white;

  --pending: #F99417;
  --on-pending: black;
  --pending-container: #92570e;
  --on-pending-container: black;

  --premium: darkgoldenrod;
  --onpremium: white;
  --premium-container: white;
  --on-premium-container: darkgoldenrod;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --neutral: white;
    --neutral-dim: white;

    --primary: #3122b4;
    --primary-hover: #2a246d;
    --on-primary: white;
    --primary-container: #03001C;
    --on-primary-container: white;

    --surface: #050030;
    --surface-dim: #212121;
  }
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--neutral);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}